.utama {
	width: 1020px;
	margin: auto;
	border: 1px solid #3bf;
	background-color: #e9ebee;

}
.kepala {
}
h2{
	color: royalblue;
}
.menu  {
	padding: 10px;
	background-color: powderblue;
	color: #fff;
	text-decoration: none;
	top: 0px;
	position: sticky;
}
.menu a {
	padding: 10px;
	background-color: powderblue;
	color: midnightblue;
	text-decoration: none;
}
.menu a:hover {
	background-color: mistyrose ;

}
.menu {
	margin-top: 2px;
	margin-bottom: 20px;
}
.akun{
	position: absolute;
	top: 0px;
	right: 80px;

}
.logout{
	position: absolute;
	top: 0px;
	right: 10px;

}


.isi{
	margin-left: 10px;
	margin-bottom: 50px;
	min-height: 500px;

}

table {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #baca;
	border-collapse: collapse;
	width: 1000px;
}
table th {
	text-align: left;
	width: 300px;
	border: 1px solid #baca;
	padding: 10px;
	background-color: #9AD2FF;
	color: #ffffff;
}
table td {
	border: 1px solid #baca;
	padding:10px;
}
.footer {
	padding: 10px;
	text-align: right;
	background-color: lightblue;
	width: 1000px;
	bottom: 0px;
	color: royalblue;
	position: sticky;
}
input[type="text"]{
	width: 620PX;
	height: 100%;
}
